<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <a href="/">Home</a>
        <a href="/listing">Add Housing</a>
        <a href="/description">About</a>
        {{{body}}}

    </body>
</html>