<article>
    <form method="POST" action="/listing">
        <div>
            <label>Name</label>
            <input type = "text" name = "title">    
        </div>
        
        <div>
            <label>Monthly Rent</label>
            <input type = "text" name = "monthlyRent">    
        </div>

        <div>
            <label>First Name</label>
            <input type = "text" name = "firstName">    
        </div>
        
        <div>
            <label>Last Name</label>
            <input type = "text" name = "lastName">    
        </div>

        <div>
            <label>Phone Number</label>
            <input type = "text" name = "phoneNumber">    
        </div>

        <div>
            <label>Street Name</label>
            <input type = "text" name = "streetName">    
        </div>

        <div>
            <label>City</label>
            <input type = "text" name = "city">    
        </div>

        <div>
            <label>State</label>
            <input type = "text" name = "state">    
        </div>

        <div>
            <label>Zip Code</label>
            <input type = "text" name = "zip">    
        </div>
        <button type="submit">Add Housing</button>
    </form>
</article>