

<article>
    <form method="POST" action= {{id}}>
        <div>
            <label>Stars</label>
            <input type="number" name = "stars">
        </div>

        <div>
            <label>Name</label>
            <input type="text" name = "name">
        </div>

        <div>
            <label>Comments</label>
            <input type="text" name = "comment">
        </div>
        <button type="submit">Add Review</button>
    </form>
</article>

