<p></p>
<p>This is the apartments website</p>
<p>Pratik Lahiri, Brian Shu</p>
<p>This website is a place where people can post and find apartment listings.</p>
<p>Landlords can post listings, and users can give those listings comments and ratings</p>